<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/message-fade.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</head>
<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar">
        <div class="navbar-item">
            <a href="{% url 'search_view' %}">検索アプリ</a>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-item">
            <a href="{% url 'mypage' %}" class="btn mypage-btn">マイページ</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'logout' %}" class="btn logout-btn">ログアウト</a>
        </div>
        {% else %}
        <div class="navbar-item">
            <a href="{% url 'login' %}" class="btn login-btn">ログイン</a>
        </div>
        <div class="navbar-item">
            <a href="{% url 'register' %}" class="btn register-btn">新規登録</a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="navbar-item">
            <a href="{% url 'cart' %}" class="cart-link">カート</a>
        </div>
        {% endif %}
    </nav>


    <div class="container mt-5">
        {% block content %}
        <!-- 各ページのコンテンツがここに挿入されます -->
        {% endblock %}
    </div>

</body>
<footer>
    <p>© 2024 Natsume KITAOKA</p>
</footer>
</html>
