{% extends 'base.html' %}

{% load humanize %}
{% block title %}ショッピングカート{% endblock %}
{% block content %}
    <div class="cart">
        <h2 class="text-center">ショッピングカート</h2>
        <div class="katamari">
        {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr data-product-id="{{ item.product_id }}">
                        <td>{{ item.name }}</td>
                        <td class="item-price">{{ item.price|floatformat:0|intcomma }}円</td>
                        <td>
                            <input 
                                type="number" 
                                class="quantity-input" 
                                value="{{ item.quantity }}" 
                                min="1" 
                                style="width: 60px;"
                                data-price="{{ item.price|floatformat:0 }}">
                        </td>
                        <td class="item-subtotal">{{ item.subtotal|floatformat:0|intcomma }}円</td>
                        <td>
                            <form action="{% url 'remove_from_cart' item.product_id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">削除</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="total-price">
            <h3>合計金額　<span id="total-price">{{ total_price|floatformat:0|intcomma }}</span>円</h3>
        </div>

            <!-- カートが空でない場合のみ表示 -->
            <form action="{% url 'checkout' %}" method="get">
                <button type="submit" class="custom-button">購入手続きへ進む</button>
            </form> 
        </div>           

        {% else %}
            <p class="text-center">現在カートに商品はありません。</p>
        {% endif %}
    </div>
    
{% endblock %}
