{% extends 'base.html' %}
{% block title %}お気に入り一覧{% endblock %}
{% block content %}
{% load humanize %}
{% load static %}

<div class="container mt-5">
    <h1 class="text-center mb-4">お気に入り一覧</h1>
    
    <!-- お気に入り件数の表示 -->
    <div class="text-center mt-4">
        <p>お気に入りの商品は {{ favorites|length }} 件です。</p>
    </div>
    <!-- 商品リスト -->
    <div class="main-container">
        <div class="row">
            {% for favorite in favorites %}
                <div class="col-md-4 mb-4">
                    <!-- 商品情報全体をクリック可能にするため、クリックイベントを設定 -->
                    <div class="card" onclick="window.location.href='{% url 'product_detail' favorite.product.pk %}'">
                        {% if favorite.product.image %}
                            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" class="card-img-top">
                        {% else %}
                            <img src="{% static 'images/no_image_tate.jpg' %}" alt="No Image" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ favorite.product.name }}
                            </h5>
                            <p class="card-text"><strong>{{ favorite.product.price|floatformat:0|intcomma }}円</strong></p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p class="text-center">お気に入りはまだありません。</p>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
