{% extends 'base.html' %}
{% block title %}マイページ{% endblock %}
{% block content %}
{% load static %}

<div class="mypage">
    <h1>マイページ</h1>
    <p class="text-center">こんにちは、{{ user.username }}さん！</p>

    <p class="text-center">現在のポイント: <strong>{{ point.balance }}</strong> pt</p>

    <div class="mypage-links">
        <a href="{% url 'favorites_list' %}" class="mypage-item">
            <img src="{% static 'images/IMG_5356.PNG' %}" alt="お気に入り" class="mypage-icon">
            <span>お気に入り</span>
        </a>
        <a href="{% url 'purchase_history' %}" class="mypage-item">
            <img src="{% static 'images/IMG_5355.PNG' %}" alt="購入履歴" class="mypage-icon">
            <span>購入履歴</span>
        </a>
        <a href="{% url 'change_password' %}" class="mypage-item">
            <img src="{% static 'images/IMG_5354.PNG' %}" alt="パスワード変更" class="mypage-icon">
            <span>パスワード変更</span>
        </a>
    </div>
</div>

{% endblock %}
