{% extends 'base.html' %}
{% block title %}パスワード変更{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h1>パスワード変更</h1>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">パスワードを変更する</button>
    </form>
    <a href="{% url 'mypage' %}" class="btn btn-secondary">マイページに戻る</a>
</div>

{% endblock %}
