{% extends 'base.html' %}
{% block title %}{{ product.name }}の削除確認{% endblock %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <h2>{{ product.name }}を削除しますか？</h2>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">削除</button>
        <form action="{% url 'product_detail' product.pk %}" method="GET" style="display:inline;">
            <button type="submit" class="btn btn-secondary">キャンセル</button>
        </form>
    </form>
</div>

{% endblock %}
