{% extends 'base.html' %}
{% block title %}{{ product.name }}の削除確認{% endblock %}
{% block content %}
{% load static %}

<div class="margin-top">
    <h2 class="text-center">{{ product.name }}を削除しますか？</h2>
    <div class="button-container">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="confirm-button delete-button">削除</button>
        </form>
        <form action="{% url 'product_detail' product.pk %}" method="GET">
            <button type="submit" class="confirm-button cancel-button">キャンセル</button>
        </form>
    </div>
</div>

{% endblock %}
