{% extends 'base.html' %}
{% load humanize %}
{% load custom_filters %}  <!-- カスタムフィルタをロード -->

{% block title %}購入履歴{% endblock %}
{% block content %}

<div class="text-center">
    <h1 class="margin-top">購入履歴</h1>

    {% if purchases %}
        <div class="underline">
            {% for purchase in purchases %}
                <p>
                    <a href="{% url 'purchase_detail' purchase.id %}">
                        購入日時: {{ purchase.purchased_at|date:"Y年m月d日 H:i" }}
                    </a>
                </p>
            {% endfor %}
        </div>
    {% else %}
        <p>購入履歴はありません。</p>
    {% endif %}
</div>

{% endblock %}
